body {
    font-family: 'Times New Roman', Times, serif;
}

.speech {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: black;
}

.direction {
    background-color: bisque;
    color: black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;

}

.direction:hover {
    color: green;
    background-color: aqua;
}


.NURSE:hover {
    font-style: oblique;
    color: blue;
    background-color: aliceblue;
    text-shadow: 2px 2px red;
    filter: blur(.6px);
    border: 2px solid blueviolet;

}

.NORA:hover {
    font-style: italic;
    color: red;
    background-color: rgb(232, 222, 222);
    text-shadow: 2px 2px 4px #180202;
    filter: blur(.6px);
    border: 2px solid rgb(207, 204, 209);
}

.Table,
th,
td {
    border: 1px dotted black;
    color: red;
    text-align: left;
    width: 150px;
    border-collapse: collapse;
    padding: 40px;
    margin-top: 10px;
    font-style: inherit;
}

tr:nth-child(even) {
    background-color: #e9dbdb;
}



ul.navbar-horizontal {
    /* remove these */
    list-style-type: none;
    margin: 5;
    padding: 50;
}

ul.navbar-horizontal li {
    float: left;
    /* line up horizontally */
    color: #e1c9c9;
    background-color: green
}

ul.navbar-horizontal a {
    display: block;
    padding: 20px;
}

/* on hover change the link color*/
ul.navbar-horizontal a:hover {
    background-color: #555;
    color: white;
}

.fa-female {
    font-size: 24px;
    background-color: blue;
    color: #e8dede;
    font-size: large;
}